<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Product</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <main>
        <form class="product-form" action="/admin/add-product" method="POST">
            <h2>{{pageTitle}}</h2>
            <div class="form-control">
                <input placeholder="title" type="text" name="title" id="title">
            </div>
            <div class="form-control">
                <input placeholder="imageUrl" type="text" name="imageUrl" id="imageUrl">
            </div>
            <div class="form-control">
                <input placeholder="price" type="number" name="price" id="price">
            </div>
            <div class="form-control">
                <input placeholder="description" type="text" name="description" id="description">
            </div>
            <button class="btn addproduct-button" type="submit">Add Product</button>
        </form>
    </main>
</body>

</html>