<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
    <main>
        <form class="login-form" id="login-form" action="/admin/login" method="POST">
            <h2>{{pageTitle}}</h2>
            <div class="form-control">
                {{!-- <label for="email">email</label> --}}
                <input placeholder="email" type="email" name="email" id="email" {{#if emailError}}
                    class="login-input-error" {{/if}}>
                {{#if emailError}}
                <p class="login-errormessage">no email associate with this account</p>
                {{/if}}
            </div>
            <div class="form-control">
                {{!-- <label for="password">password</label> --}}
                <input placeholder="password" type="password" name="password" id="password" {{#if passwordError}}
                    class="login-input-error" {{/if}}>
                {{#if passwordError}}
                <p class="login-errormessage">incorrect password</p>
                {{/if}}
            </div>
            <button id="login-submitbutton" class="btn" type="submit">Login</button>
        </form>

    </main>
    <script>
        const error = "{{ err }}";
        console.log("error message: ", error);
    </script>
</body>

</html>