<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/main.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ pageTitle }}</title>
    {{#if formsCSS}}
    <link rel="stylesheet" href="/css/forms.css">
    {{/if}}
    {{#if productCSS}}
    <link rel="stylesheet" href="/css/product.css">
    {{/if}}
</head>

<body>
    <div class="main-header__space"></div>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a class="{{#if indexActive }}active{{/if}}" href="/">Shop</a></li>
                <li class="main-header__item"><a class="{{#if activeProducts }}active{{/if}}"
                        href="/shop/product-list">Products</a></li>
                <li class="main-header__item"><a class="{{#if activeCart }}active{{/if}}" href="/shop/cart">Cart</a>
                </li>

                <li class="main-header__item"><a class="{{#if activeAddProduct }}active{{/if}}"
                        href="/admin/add-product">Add Product</a></li>
                <li class="main-header__item"><a class="{{#if activeProductList }}active{{/if}}"
                        href="/admin/products">My Products</a></li>
                <li class="main-header__item"><a class="{{#if activeRegister }}active{{/if}}"
                        href="/admin/register">Register</a></li>
                <li class="main-header__item"><a class="{{#if activeLogin }}active{{/if}}" href="/admin/login">Login</a>
                </li>
            </ul>
        </nav>

    </header>
    {{{ body }}}
</body>

</html>