.adminproducts-heading {
  font-size: 8rem;
}
.adminproducts-product {
  text-align: center;
  width: 20rem;
  padding: 1.5rem;
  height: 30rem;
  margin: 1rem;
  background: linear-gradient(135deg, rgb(218, 218, 218), rgb(249, 254, 255));
  box-shadow: 2rem 2rem 6rem rgba(0, 0, 0, 0.18),
    -2rem -2rem 6rem rgba(232, 252, 255, 0.4);
  border-radius: 1rem;
}

.adminproducts-container {
  width: 100vw;
  display: grid;
  grid-gap: 1rem;
  justify-items: center;
  justify-content: space-around;
  overflow-y: scroll;
  overflow-x: hidden;
  grid-template-columns: repeat(2, 1fr);
  padding: 5rem 0;
}

.adminproducts-product-title {
}

.adminproducts-product-price {
}

.adminproducts-product-image {
  max-width: 10rem;
  max-height: 12rem;
  /* margin-left: 50%;
  transform: translateX(-50%); */
}

.adminproducts-product-description {
}

.adminproducts-noproducts {
}
