.adminproducts-heading {
  font-size: 8rem;
}
.adminproducts-product {
  background: white;
  text-align: center;
  width: 20rem;
  padding: 1.5rem;
  height: 30rem;
  margin: 1rem;
}

.adminproducts-container {
  width: 100vw;
  display: grid;
  grid-gap: 1rem;
  justify-items: center;
  justify-content: space-around;
  overflow-y: scroll;
  overflow-x: hidden;
  grid-template-columns: repeat(2, 1fr);
}

.adminproducts-product-title {
}

.adminproducts-product-price {
}

.adminproducts-product-image {
  max-width: 10rem;
  max-height: 12rem;
  /* margin-left: 50%;
  transform: translateX(-50%); */
}

.adminproducts-product-description {
}

.adminproducts-noproducts {
}
