.register-form,
.login-form {
  max-width: 45rem;
  margin-left: 50%;
  transform: translateX(-50%);
}

.register-form h2,
.login-form h2 {
  text-align: center;
  letter-spacing: 0.7rem;
  font-size: 8rem;
  height: 4rem;
  color: rgb(29, 29, 29);
}

.register-form .btn,
.login-form .btn {
  margin-top: 1.2rem;
  min-width: 75%;
  margin-left: 50%;
  transform: translateX(-50%);
}

.login-errormessage,
.register-input-error {
  color: rgb(189, 0, 117);
  position: absolute;
  right: 0;
  margin-top: -0.2rem;
}

.login-input-error,
.register-input-error {
  background: rgba(189, 0, 117, 0.3);
}
