.register-form,
.login-form {
  max-width: 30rem;
  margin-left: 50%;
  transform: translateX(-50%);
}

.register-form h2,
.login-form h2 {
  text-align: center;
}

.register-form .btn,
.login-form .btn {
  min-width: 50%;
  margin-left: 50%;
  transform: translateX(-50%);
}
