.cart {
  /* display: grid; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  width: 80vw;
  margin-left: 50%;
  transform: translateX(-50%);
}

.cart-title {
  font-size: 8rem;
}

.cart-item {
  padding: 0.8rem;
  text-align: center;
  width: 20rem;
  height: 25rem;
  background: linear-gradient(135deg, rgb(236, 227, 236), rgb(249, 254, 255));
  margin: 1rem;
  box-shadow: 2rem 2rem 6rem rgba(0, 0, 0, 0.18),
    -2rem -2rem 6rem rgba(232, 252, 255, 0.3);
  border-radius: 1rem;
}

.cart-item-img {
  width: 10rem;
  max-height: 12rem;
}

.checkout-button {
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 4rem;
  margin-bottom: 25rem;
}
