.cart {
  /* display: grid; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  width: 80vw;
  margin-left: 50%;
  transform: translateX(-50%);
}

.cart-item {
  text-align: center;
  width: 20rem;
  height: 25rem;
  background: rgb(249, 249, 249);
}

.cart-item-img {
  width: 10rem;
  max-height: 12rem;
}
