.editshop-submitbutton {
  transform: translateX(-50%);
  margin-left: 50%;
  width: 27.5rem;
  /* margin-top: 1.5rem;
  margin-bottom: 4rem; */
}

.editshop-container {
  width: 84%;
  transform: translateX(-50%);
  margin-left: 50%;
}

.editshop-title {
  margin-top: 3rem;
  margin-left: 48%;
  transform: translateX(-50%);
  font-size: 8rem;
  width: 34rem;
  white-space: nowrap;
}

.medium-space {
  height: 30rem;
  width: 100%;
}

.editshop-profilepic,
.editshop-coverpic {
  margin-left: 50%;
  transform: translateX(-50%);
  width: 80%;
}

.shop-title-button,
.bio-button {
  margin-bottom: 3rem;
}
