.form-control {
  margin: 1rem 0;
  background: rgba(255, 255, 255, 0);
  border: none;
  margin-bottom: 2rem;
}

.form-control label,
.form-control input {
  display: block;
  width: 100%;
  padding: 0.4rem 0.6rem;
}

.form-control input {
  border: 1px solid #ddd;
  font: inherit;
  border-radius: 2px;
}

.form-control input:focus {
  outline-color: #bd0074;
}
