.home-background {
  background: radial-gradient(
      rgba(0, 0, 0, 0.412) 50%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    url('https://images.pexels.com/photos/2795605/pexels-photo-2795605.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background-size: cover;
}

.home-textbox {
  background: rgba(29, 29, 29, 0.536);
  backdrop-filter: blur(6px);
  box-shadow: 3rem 3rem 10rem rgba(255, 255, 255, 0.24),
    -3rem -3rem 10rem rgba(255, 255, 255, 0.24);
  color: white;
  height: 300px;
  width: 65%;
  margin-left: 50%;
  margin-top: 19rem;
  transform: translateX(-50%) translateY(-50%);
  padding: 3rem 1.8rem;
  border-radius: 2px;
  text-align: center;
  font-size: 1.5rem;
  min-width: 30rem;
}

.home-textbox-logo {
  height: 4.5rem;
  width: 15rem;
  filter: invert(1);
}
