@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: rgb(226, 226, 226);
  padding: 0;
  margin: 0;
}

main {
  padding: 1rem;
  margin: auto;
}

a,
a:hover {
  text-decoration: none !important;
}

.main-header {
  width: 100%;
  height: 3.8rem;
  background-color: #bd0074;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}

.main-header__space {
  width: 100%;
  height: 3.8rem;
}

.main-header__nav {
  height: 100%;
  display: flex;
  align-items: center;
}

.main-header-small {
  display: none;
  width: 100%;
  height: 4.5rem;
  background-color: #bd0074;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}

.main-header-small-collapse {
  /* display: none; */
  height: 500px;
  background: #bd0074;
  margin-left: -100%;
  max-width: 100vw;
  transition: all 0.4s ease;
}

@media (max-width: 1000px) {
  .main-header {
    display: none;
  }
  .main-header__space {
    height: 5.8rem;
  }
  .main-header-small {
    display: inherit;
  }
  /* .main-header-small-collapse {
    display: inherit;
  } */
}

.main-header__item-list {
  margin: 0;
  padding: 0;
  display: flex;
  white-space: nowrap;
}

.main-header__item {
  min-height: 3.8rem !important;
  padding: 0 1.3rem;
  padding-top: 1.2rem;
  text-align: center;
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
  list-style: none;
}

.main-header__item:hover {
  background: rgba(0, 0, 0, 0.055);
}

.main-header__item:hover .logo {
  transform: scale(1.1) rotate(360deg);
}

.logout-button {
  background: rgba(0, 0, 0, 0);
  color: white;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  border: none;
  padding-top: 0.1rem;
  font-size: 1rem;
}

.main-header__item:hover,
.main-header__item:active,
.main-header__item:active,
.active li {
  color: #ffba3b;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  align-items: stretch;
}

.card {
  margin: 2rem;
  box-shadow: 0.2rem 0.2rem 0.3rem rgba(0, 0, 0, 0.151),
    -0.2rem -0.2rem 0.3rem rgba(255, 255, 255, 0.288);
}

.card__header,
.card__content {
  padding: 1rem;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
  margin: 0;
}

.card__image {
  width: 100%;
}

.card__image img {
  width: 100%;
}

.card__actions {
  padding: 1rem;
  text-align: center;
}

.card__actions button,
.card__actions a {
  margin: 0 0.25rem;
}

.btn {
  font: inherit;
  border: 1px solid #bd0074;
  color: #bd0074;
  background: white;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s ease;
  padding: 0.5rem 0.8rem;
}

.btn:hover,
.btn:active {
  background-color: #bd0074;
  color: white;
}

.logo {
  height: 1.2rem;
  width: 3.4rem;
  margin-left: -0.5rem;
  padding: 0rem;
  transition: all 0.7s ease;
}
