@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Oxanium', sans-serif;
  background: rgb(206, 206, 206);
  padding: 0;
  margin: 0;
}

main {
  margin: auto;
}

a,
a:hover {
  text-decoration: none !important;
}

button:focus {
  outline: 0;
}

.center {
  margin-left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.main-header {
  width: 100%;
  height: 3.8rem;
  background-color: #bd0074;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}

.main-header-space {
  width: 100%;
  height: 3.8rem;
}

.main-header-nav {
  height: 100%;
  display: flex;
  align-items: center;
}

.main-header-small {
  display: none;
  width: 100%;
  height: 4.5rem;
  background-color: #bd0074;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}

.main-header-small-collapse {
  background: #bd0074;
  margin-left: -100%;
  max-width: 100vw;
  transition: all 0.35s cubic-bezier(0.175, 0.885, 0.02, 1.275);
  opacity: 0;
}
.small-collapse-loggedin {
  height: 432px;
}

.small-collapse-notloggedin {
  height: 288px;
}

@media (max-width: 1000px) {
  .main-header {
    display: none;
  }
  .main-header-space {
    height: 5.8rem;
  }
  .main-header-small {
    display: inherit;
  }
}

.main-header-item-list {
  margin: 0;
  padding: 0;
  display: flex;
  white-space: nowrap;
}

.main-header-item {
  min-height: 3.8rem !important;
  padding: 0 1.3rem;
  padding-top: 1.2rem;
  text-align: center;
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
  list-style: none;
}

.main-header-small-item {
  padding: 0 1.3rem;
  padding-top: 0.8rem;
  color: #eee;
  list-style: none;
  display: block;
  height: 4.5rem;
  font-size: 1.9rem;
}

.main-header-item:hover,
.main-header-small-item:hover {
  background: rgba(0, 0, 0, 0.055);
}

.main-header-item:hover .logo {
  transform: scale(1.1) rotate(360deg);
}

.logout-button {
  background: rgba(0, 0, 0, 0);
  color: white;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  border: none;
  padding: 0;
  font-size: 1rem;
  position: absolute;
  right: 0;
  top: 0;
}

.logout-button-small {
  font-size: 1.9rem;
  position: inherit;
}

.main-header-item:hover,
.main-header-item:active,
.main-header-item:active,
.active li {
  color: #ffba3b;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.card {
  border: none;
  margin: 2rem;
  box-shadow: 2rem 2rem 8rem rgba(0, 0, 0, 0.28),
    -2rem -2rem 8rem rgba(216, 250, 255, 0.3);
}

.card-top,
.card-content {
  padding: 1rem;
}

.card-top h1,
.card-content h1,
.card-content h2,
.card-content p {
  margin: 0;
}

.card-image {
  width: 100%;
}

.card-image img {
  width: 100%;
}

.card-actions {
  padding: 1rem;
  text-align: center;
}

.card-actions button,
.card-actions a {
  margin: 0 0.25rem;
}

.btn {
  font: inherit;
  border: 1px solid #bd0074;
  color: #bd0074;
  background: white;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s ease;
  padding: 0.5rem 0.8rem;
}

.btn:hover,
.btn:active {
  background-color: #bd0074;
  color: white;
}

.logo {
  height: 1.2rem;
  width: 3.4rem;
  margin-left: -0.5rem;
  padding: 0rem;
  transition: all 0.7s ease;
}

.main-header-small-logo {
  height: 1.8rem;
  width: 4.5rem;
}

.main-header-menuopen {
  position: absolute;
  right: 0;
  color: black;
  cursor: pointer;
  padding-top: 1rem;
  font-size: 1.7rem;
}
