.order {
  background: #ddd;
  padding: 1rem;
  width: 16rem;
  margin: 1rem;
}

.orders-product-img {
  width: 100%;
}

.orders-product {
  background: white;
  padding: 1rem 0;
  width: 14rem;
  margin-bottom: 0.5rem;
}
