.product-form {
  width: 45rem;
  margin-left: 50%;
  transform: translateX(-50%);
}

.product-form h2 {
  font-size: 8rem;
  text-align: center;
  color: rgb(29, 29, 29);
}

.product-item {
  width: 90%;
  max-width: 95%;
  background: white;
  margin-left: 50%;
  margin-bottom: 6rem;
  transform: translateX(-50%);
  border-radius: 1rem;
  background: linear-gradient(135deg, rgb(233, 233, 233), rgb(249, 252, 253));
  box-shadow: 3rem 3rem 6rem rgba(0, 0, 0, 0.18),
    -3rem -3rem 6rem rgba(243, 253, 255, 0.55);
  padding: 0.5rem 0 1.5rem 0;
}

.product-title {
  font-size: 1.7rem;
  text-align: center;
}

.product-title-large {
  text-align: center;
  font-size: 10rem;
  letter-spacing: 1.4rem;
  margin-left: -1.4rem;
}

@media (max-width: 1000px) {
  .product-title-large {
    font-size: 6.5rem;
    letter-spacing: 1rem;
    margin-left: -1rem;
  }
}

.product-price {
  text-align: center;
  color: #222222;
  margin-bottom: 1rem;
}

.product-description {
  text-align: center;
}

.addproduct-button {
  margin-top: 1.4rem;
  min-width: 75%;
  margin-left: 50%;
  transform: translateX(-50%);
}

.product-space {
  height: 20rem;
  width: 100vw;
}

.products-space {
  height: 25rem;
  width: 100vw;
}

.center-this div {
  background: orange !important;
  border: 1px dotted black !important;
}
