.product-form {
  width: 45rem;
  margin-left: 50%;
  transform: translateX(-50%);
}

.product-form h2 {
  font-size: 8rem;
  text-align: center;
  color: rgb(29, 29, 29);
}

.product-item {
  width: 90%;
  max-width: 95%;
  background: white;
  margin-left: 50%;
  transform: translateX(-50%);
}

.product__title {
  font-size: 1.7rem;
  text-align: center;
}

.product__price {
  text-align: center;
  color: #222222;
  margin-bottom: 1rem;
}

.product__description {
  text-align: center;
}

.addproduct-button {
  margin-top: 1.4rem;
  min-width: 75%;
  margin-left: 50%;
  transform: translateX(-50%);
}
